$standardRadius: 12px;
$separatorRadius: 1px;
$modalHeight: 100px;
$modalWidth: 300px;


#root {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.loginFormContainer {
	flex: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-image: url("../../assets/loginBackground.webp");

	.logoFrame {
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;

		.logoImg {
			width: 150px;
    		height: 150px;
		}
	}

	.loginFormFrame {
		display: flex;
		flex-direction: column;
		min-width: 250px;
		padding: 5px;
		border: 1px solid lightgray;
		align-items: center;
		justify-content: center;
		border-radius: $standardRadius;
		opacity: 0.85;
		background: white;
		box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;

		&:hover {
			opacity: 1.0;
			transform: scale(1.1);
			transition: transform 1.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}
	
		&:not(:hover) {
			transform: scale(1.0);
			transition: transform 1.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}

		&:last-child {
			text-align: center;
		}

		.loginMsg {
			font-weight: 600;
		}

		.topSeparator {
			width: 100%;
			border: 1px solid lightgray;
			border-radius: $separatorRadius;
			margin-bottom: unset;
		}

		.resetBtnFrame {
			margin: 15px 0px;

			.returnBtn {
				margin-left: 10px;
			}
		}
	
		.loginForm {
			display: flex;
			flex-direction: column;
			vertical-align: middle;
			align-items: center;

			& > * {
				margin-bottom: 10px;
			}

			.bottomSeparator {
				width: 100%;
				border: 1px solid rgba(68, 168, 168, 50);
				background-color: 1px solid rgba(68, 168, 168, 50)!important;
				border-radius: $separatorRadius;
				margin-bottom: unset;
			}

			/* .loginBtn {
				background-color: rgba(68, 168, 168, 50);
				color: white;
			} */

		}

	}

	.loginFormModalFrame {
		background-color: white;
		position: absolute;
		box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;

		& > p {
			text-align: center;
			margin-top: 50px!important;
		}

		&:last-child {
			align-self: center;
		}
	}

}

