#root {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.loginFormContainer {
	flex: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-image: url("../../assets/loginBackground.webp");

	.languageSelector {
		position: absolute;
		top: 4vh;
		right: 2vw;
	}

	.logoFrame {
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;

		.logoImg {
			width: 150px;
    		height: 150px;
		}
	}

	.loginFormFrame {
		display: flex;
		flex-direction: column;
		height: 38%;
		min-width: 250px;
		width: 18%;
		padding: 5px;
		border: 1px solid lightgray;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		opacity: 0.85;
		background: white;
		box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;

		&:hover {
			opacity: 1.0;
			transform: scale(1.1);
			transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}
	
		&:not(:hover) {
			transform: scale(1.0);
			transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}

		&:last-child {
			text-align: center;
		}

		.loginMsg {
			font-weight: 600;
		}

		.topSeparator {
			width: 100%;
			border: 1px solid lightgray;
			border-radius: 1px;
			margin-bottom: unset;
		}
	
		.loginForm {
			display: flex;
			flex-direction: column;
			vertical-align: middle;
			align-items: center;

			& > * {
				margin-bottom: 10px;
			}

			.logo {
				width: 125px;
				height: 125px;
			}

			.bottomSeparator {
				width: 100%;
				border: 1px solid rgba(68, 168, 168, 50);
				border-radius: 1px;
				margin-bottom: unset;
			}

			.loginBtn {
				background-color: rgba(68, 168, 168, 50);
				color: white;
			}
		}
	}
}

